html, body {
    height: 100%;
  }
  
  #clock {
    text-align: center;
    /*display: none;*/
      position: relative;
      /*top:50%;*/
      bottom:-50%;
      font-family:'Lobster', cursive;
      font-size:5rem;
      margin-top: -2.5rem;
      margin-right:2rem;
      margin-left:2rem;
      border-radius: 1rem;
      box-shadow: 1rem 1rem 1rem rgb(51, 255, 0);
      text-shadow: 1px 1px 3px rgb(51, 255, 0);
  }